@{
    ViewData["Title"] = "bhdryrdm";
}

<div class="text-center">
    <p class="display-2">Welcome to my World.</p>
    <table class="table table-bordered table-responsive table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
            <th scope="col">Login Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Falco</td>
            <td><a href="https://falco.bhdryrdm.com.tr" target="_blank">http://falco.bhdryrdm.com.tr</a></td>
            <td>admin/admin</td>
        </tr>
        <tr>
            <td>ArgoCD</td>
            <td><a href="https://argocd.bhdryrdm.com.tr" target="_blank">http://argocd.bhdryrdm.com.tr</a></td>
            <td>admin/hmeHIOXTsrpf4j4V</td>
        </tr>
        <tr>
            <td>Uptime</td>
            <td><a href="https://uptime.bhdryrdm.com.tr" target="_blank">http://uptime.bhdryrdm.com.tr</a></td>
            <td>admin/123qwe</td>
        </tr>
        <tr>
            <td>Netdata</td>
            <td><a href="https://netdata.bhdryrdm.com.tr/netdata" target="_blank">http://netdata.bhdryrdm.com.tr/netdata</a></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
