@{
    ViewData["Title"] = "bhdryrdm";
}

<div class="text-center">
    <p class="display-2">Welcome to my World.</p>
    <table class="table table-bordered table-responsive table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
            <th scope="col">User</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="table-column"><img class="custom-logo" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/falco_logo_icon_170163.png" alt="falco"/></td>
            <td><a href="https://falco.bhdryrdm.com.tr" target="_blank">https://falco.bhdryrdm.com.tr</a></td>
            <td>admin</td>
            <td>admin</td>
        </tr>
       <tr>
            <td class="table-column"><img class="custom-logo" src="https://miro.medium.com/v2/resize:fit:1200/1*LydFAwy_HJjw8lGCsi1Iqg.png" alt="argo-cd"></td>
            <td><a href="https://argocd.bhdryrdm.com.tr" target="_blank">https://argocd.bhdryrdm.com.tr</a></td>
            <td>admin</td>
            <td>lxSL7m8BPVVLhuAC</td>
        </tr>
       <tr>
            <td class="table-column"><img class="custom-logo" src="~/uptime-kuma-1.png" alt="uptime"/></td>
            <td><a href="https://uptime.bhdryrdm.com.tr" target="_blank">https://uptime.bhdryrdm.com.tr</a></td>
            <td>admin</td>
            <td>123qwe</td>
        </tr>
        <tr>
            <td class="table-column"><img class="custom-logo" src="https://brands.home-assistant.io/_/netdata/logo.png" alt="netdata"/></td>
            <td><a href="https://netdata.bhdryrdm.com.tr" target="_blank">https://netdata.bhdryrdm.com.tr</a></td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td class="table-column"><img class="custom-logo" src="https://raw.githubusercontent.com/cncf/artwork/master/projects/kubernetes/horizontal/color/kubernetes-horizontal-color.png" alt="k8s"/></td>
            <td><a href="https://k8s.bhdryrdm.com.tr" target="_blank">https://k8s.bhdryrdm.com.tr</a></td>
            <td>Contact Admin</td>
            <td>Contact Admin | bhdryrdm@gmail.com</td>
        </tr>
        <tr>
            <td class="table-column"><img class="custom-logo" src="https://i.pinimg.com/originals/ca/ee/19/caee194ef29de4da3c19a3705279717c.png" alt="consul"/></td>
            <td><a href="https://consul.bhdryrdm.com.tr" target="_blank">https://consul.bhdryrdm.com.tr</a></td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td class="table-column"><img class="custom-logo" src="https://www.fairwinds.com/hubfs/goldilocks_bfw_color.png" alt="goldilocks"/></td>
            <td><a href="https://goldilocks.bhdryrdm.com.tr" target="_blank">https://goldilocks.bhdryrdm.com.tr</a></td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td class="table-column"><img class="custom-logo" src="https://repository-images.githubusercontent.com/157735858/b077a580-7be1-11e9-837a-c0ec62f659a4" alt="polaris"/></td>
            <td><a href="https://polaris.bhdryrdm.com.tr" target="_blank">https://polaris.bhdryrdm.com.tr</a></td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td class="table-column"><img class="custom-logo" src="https://miro.medium.com/v2/resize:fit:1400/1*JCrtvuZgUBlUr4plUuSLMg.png" alt="kubeshark"/></td>
            <td><a href="https://kubeshark.bhdryrdm.com.tr" target="_blank">https://kubeshark.bhdryrdm.com.tr</a></td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td class="table-column"><img class="custom-logo" src="https://miro.medium.com/v2/resize:fit:1400/1*4M4OghuybPhjRsLxhrNsGA.png" alt="grafana"/></td>
            <td><a href="https://grafana.bhdryrdm.com.tr" target="_blank">https://grafana.bhdryrdm.com.tr</a></td>
            <td>admin</td>
            <td>TZZYdRpTfV8UneARlIwsESF8kgmKprCunsWjcdpP</td>
        </tr>
        </tbody>
    </table>
</div>
