@{
    ViewData["Title"] = "bhdryrdm";
}

<div class="text-center">
    <p class="display-2">Welcome to my World.</p>
    <table class="table table-bordered table-responsive table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
            <th scope="col">User</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Falco</td>
            <td><a href="https://falco.bhdryrdm.com.tr" target="_blank">https://falco.bhdryrdm.com.tr</a></td>
            <td>admin</td>
            <td>admin</td>
        </tr>
        <tr>
            <td>ArgoCD</td>
            <td><a href="https://argocd.bhdryrdm.com.tr" target="_blank">https://argocd.bhdryrdm.com.tr</a></td>
            <td>admin</td>
            <td>hmeHIOXTsrpf4j4V</td>
        </tr>
        <tr>
            <td>Uptime</td>
            <td><a href="https://uptime.bhdryrdm.com.tr" target="_blank">https://uptime.bhdryrdm.com.tr</a></td>
            <td>admin</td>
            <td>123qwe</td>
        </tr>
        <tr>
            <td>Netdata</td>
            <td><a href="https://netdata.bhdryrdm.com.tr/netdata" target="_blank">https://netdata.bhdryrdm.com.tr/netdata</a></td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>K8S Dashboard</td>
            <td><a href="https://k8s.bhdryrdm.com.tr" target="_blank">https://k8s.bhdryrdm.com.tr</a></td>
            <td>Contact Admin</td>
            <td>Contact Admin | bhdryrdm@gmail.com</td>
        </tr>
         <tr>
            <td>Consul</td>
            <td><a href="https://consul.bhdryrdm.com.tr" target="_blank">https://consul.bhdryrdm.com.tr</a></td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        </tbody>
    </table>
</div>
